{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block content %}

    <div class="main-container">
        <div class="form-container1">
            <div class="title">
                ورود به سامانه مدیریت مدرسه نسل قلم
            </div>
            <form action="" method="post">
                <div class="form-container">
                    {% csrf_token %}
                    <div>
                        {{ form.username.label_tag }}
                    </div>
                    <div>
                        {{ form.username }}
                    </div>
                    <div>
                        {{ form.password.label_tag }}
                    </div>
                    <div>
                        {{ form.password }}
                    </div>
                </div>
                <div class="btn-container">
                    <input type="submit" value="ورود">
                </div>
                <div class="errors">
                    {{ form.username.error }}
                    {{ form.password.error }}
                </div>
            </form>
        </div>
    </div>

{% endblock %}