{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/student/css/dashboard.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block title %}داشبورد دانش آموز{% endblock %}

{% block navlinks %}
    <nav class="navbar">
        
        <ul class="nav-links">
            <li><a href="#" class="nav-item active"><i class="fas fa-home"></i> خانه</a></li>
            <li><a href="/student/sessions/riazi" class="nav-item"><i class="fas fa-chalkboard-teacher"></i>جلسات</a></li>
            <li><a href="#" class="nav-item"><i class="fas fa-file-alt"></i> تکالیف</a></li>
            <li><a href="#" class="nav-item"><i class="fas fa-book"></i> درس ها</a></li>
            <li><a href="#" class="nav-item"><i class="fas fa-trophy"></i> دستاوردها</a></li>
        </ul>

    </nav>
    <div style="display:flex; align-items:center; gap:10px;">
        <div class="profile-mini">
        <div class="profile-info-small">
            <strong>سلام {{ student }}!</strong>
            <span> کلاس {{ school_class }}</span>
        </div>
    </div>
        <div>
            <a href="{% url 'accounts:logout' %}">خروج</a>
        </div>
    </div>
{% endblock navlinks %}


{% block content %}
    <div class="dashboard-wrapper">
        <main class="main-content">
            
            <!-- Hero Banner -->
            <section class="hero-banner">
                <div class="hero-text">
                    <h1>سلام {{ student }}! 👋</h1>
                    <p>امروز آماده یادگیری چیزهای جدید هستی؟</p>
                </div>
                <div class="hero-icon-box">
                    <img src="{{ user.avatar.url }}" alt="">
                </div>
            </section>

            <!-- Achievements & Classes -->
            <div class="grid-2-col">
                <!-- Achievements -->
                <section class="achievement-card">
                    <h3>دستاوردها <i class="fas fa-star" style="color:#f9d65e;"></i></h3>
                    
                    <div class="badge-item">
                        <span>🔥 Learning Streak <br><small>روز پشت سر هم</small></span>
                        <i class="fas fa-fire" style="color:#ef7e41;"></i>
                    </div>
                    <div class="badge-item">
                        <span>🏆 Homework Champion <br><small>تکلیف کامل شده</small></span>
                        <i class="fas fa-trophy" style="color:#f9d65e;"></i>
                    </div>
                    <div class="badge-item">
                        <span>⭐ Active Student <br><small>مشارکت عالی در کلاس</small></span>
                        <i class="fas fa-star" style="color:#f9d65e;"></i>
                    </div>
                </section>

                <!-- Classes -->
                <section class="classes-section">
                    <h3>کلاس های امروز <i class="far fa-clock" style="color:#ef7e41;"></i></h3>
                    <div class="classes-grid">
                        <!-- Class 1 -->

                        {% for cs in today_classes %}
                            <div class="class-card">
                                <div class="class-icon" style="background:#d86f3b;"><i class="fas fa-flask"></i></div>
                                <h4>{{ cs.class_room.subject }}</h4>
                                <p>{{ cs.class_room.teacher.get_full_name }}</p>
                                <span class="class-time">{{ cs.end_time }} - {{ cs.start_time }}</span>
                            </div>

                        {% empty %}

                            <div class="class-card no-class">
                                <h2>امروز کلاسی ندارید!</h2>
                                <p>روز خوبی داشته باشین</p>
                            </div>
                        {% endfor %}

                        <!-- Class 2 -->
                        <!-- Class 3 (Active) -->
                        <!-- <div class="class-card" style="border:2px solid #ef7e41;">
                            <div class="status-badge">در حال برگزاری</div>
                            <div class="class-icon" style="background:#ef7e41;"><i class="fas fa-calculator"></i></div>
                            <h4>ریاضی</h4>
                            <p>استاد رضایی</p>
                            <span class="class-time">۹:۳۰ - ۱۰:۰۰</span>
                            <div class="progress-bar">
                                <div class="progress-fill"></div>
                            </div>
                        </div> -->
                    </div>
                </section>
            </div>

            <!-- Quick Actions -->
            <section class="quick-actions">
                <div class="action-card"><img src="{% static 'icons/exercise_50dp_000000_FILL0_wght400_GRAD0_opsz48.svg' %}" alt=""><span>تکالیف من</span></div>
                <div class="action-card"><img src="{% static 'icons/schedule_50dp_000000_FILL0_wght400_GRAD0_opsz48.svg' %}" alt=""><span>برنامه هفتگی</span></div>
                <div class="action-card"><img src="{% static 'icons/account_circle_50dp_000000_FILL0_wght400_GRAD0_opsz48.svg' %}" alt=""><span>پروفایل من</span></div>
                <div class="action-card"><img src="{% static 'icons/school_50dp_000000_FILL0_wght400_GRAD0_opsz48.svg' %}" alt=""><span>جلسات آموزشی</span></div>
            </section>

            <!-- Homework -->
            <section class="homework-section">
                <h3>آخرین تکالیف  <i class="fas fa-check-circle" style="color:#ef7e41;"></i></h3>
                
                {% for hw in homeworks %}
                    <div class="homework-card">
                        <div class="hw-icon-circle">
                            <img src="{% static 'icons/person_raised_hand_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg' %}" alt="">
                        </div>
                        <div class="hw-info">
                            <h4>درس : {{ hw.session.class_subject.subject }} </h4>
                            <h5>موضوع : {{ hw.title }} </h5>
                            <p>{{ hw.homework }}</p>
                        </div>
                    </div>
                {% empty %}
                    <div class="homework-card">
                        <div class="hw-icon-circle">
                            <img src="{% static 'icons/person_raised_hand_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg' %}" alt="">
                        </div>
                        <div class="hw-info">
                            <h5>تکلیفی وجود ندارد</h5>
                            <p>روز خوبی داشته باشید</p>
                        </div>
                    </div>
                {% endfor %}
            </section>

        </main>
    </div>
{% endblock content %}